/* -------------------------------- ESTILOS BASICOS HTML ----------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: black;
    color: #fff;
}

/* ------------------------------------ HEADER -------------------------------------------*/

header{
    background-color: #08285b;
}

nav{
    display: flex;
}

ul{
    flex-direction: row; 
}

/* ------------------------------------ PROMO CANDY -------------------------------------------*/

.promCandy{
    height: 800px;
    background-color: #fff;
    color: black;
}

/* ------------------------------------ FOOTER -------------------------------------------*/

footer{
    height: 200px;
    background: linear-gradient(to top right,#000 0,#08285b);
    color: black;
}


/*-------------------------------------- Estilos JS -------------------------------------*/
/*
#cartelera{
    background-color: #08285b;
    width: 1200px;
    margin: 30px auto;
}

.cines{
    padding: 15px;
    border: #fff solid 2px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.ciness{
    border: #fff solid 2px;
    border-radius: 5px;
    padding: 10px;
    margin-left: 50px;
    width: 100%;
    text-align: center;
}

ul{
    list-style: none;
}

.ciness li:hover{
    color: #fdc899;
    transition: all .3s;
}

.submenu{
    position: absolute;
    width: 100%;
    display: none;
}

.submenu li{
    display: block;
}

.menu li:hover .submenu{
    display: block;
}

.titulos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
}*/

#cartelera{
    background-color: aquamarine;
    height: 260px;
    color: #000;
    display: flex;
}

.card{
    margin: 20px;
    padding: 1%;
}